@charset "utf-8";

//変数--------------------
$pc: 769px;

@mixin pc {
    @media(min-width:($pc)) {
        @content;
    }
}

$white-color:#f8f8f8;
$black-color:#212529;
$accent:#9aa4af;
//------------------------


//共通部分---------------------------

body {
    font-family: komet, dnp-shuei-gothic-gin-std, sans-serif;
    color: $black-color;
    background: $white-color;
    line-height: 1.6;
    letter-spacing: 0.07em;
    font-weight: normal;

}

a {
    text-decoration: none;
    color: $black-color;
}


ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6vw;
}

.flex {
    display: flex;
}



/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position: fixed;
    z-index: -1;
    opacity: 0;
    /*はじめは透過0*/
    /*ナビの位置と形状*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: $white-color;
    /*動き*/
    transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
    opacity: 1;
    z-index: 999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#g-nav li {
    list-style: none;
    text-align: center;
}

#g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 10px;
    right: 6vw;
    cursor: pointer;
    width: 50px;
    height: 50px;
    // position: relative;
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 5px;
    height: 2px;
    // border-radius: 2px;
    background-color: $black-color;
    width: 80%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 7px;
    transform: translateY(6px) rotate(-30deg);
    width: 80%;
}

.openbtn.active span:nth-of-type(2) {
    top: 30px;
    left: 7px;
    transform: translateY(-6px) rotate(30deg);
    width: 80%;
}

/*========= swiperのためのCSS ===============*/

.swiper {
    width: 100%;
    height: 600px;
    z-index: -1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: $black-color;
}



/*========= header ===============*/
.gnav__fix__box {
    padding: 0 6vw;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white-color;
    z-index: 999;

    & h1 {
        font-size: 24px;
    }
}

.openbtn-box {

    @include pc {
        display: flex;
        align-items: center;
    }


    & p {
        display: none;

        @include pc {
            display: block;
            font-size: 18px;
            margin-right: 5px;
        }
    }
}

/*========= top ===============*/
.top {
    // margin: 100px 0 100px 0;
    position: relative;
    margin-top: 70px;


    &__Text {
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        margin-top: 40px;
        padding-left: 6vw;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: $white-color;

        & p {
            margin-bottom: 10px;
        }
    }

    &__img {
        margin-left: auto;
        z-index: -1;

        & img {
            width: 100vw;
            height: 80vh;
            object-fit: cover;
        }


    }
}


/*========= section ===============*/

section {
    margin-bottom: 80px;
    width: 100%;
}


/*========= about ===============*/

.about {

    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;

    &__cap__box {
        padding: 0 6vw;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        font-size: 21px;
        font-weight: 600;
    }

    &__cap__j,
    &__cap__e {
        font-size: 16px;
    }

    &__title,
    &__cap__j,
    &__cap__e {
        margin-bottom: 50px;
    }

    &__btn {
        font-size: 16px;

        & a {
            display: inline-block;
            background-color: $white-color;
            padding: 5px 35px;
            border-radius: 18px;

            &:hover {
                background-color: $black-color;
                color: $white-color;
            }

        }
    }

}


/*========= goods ===============*/


.goods {

    &__title {
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 50px;
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        border: 2px solid $black-color;
    }

    &Item {
        margin-bottom: 80px;

        &__title {
            font-size: 36px;
            margin-bottom: 20px;
            line-height: 1.2;
        }

        &__cap {

            & dt {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            & dd {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }

        &__btn{
            margin-left: auto;
            margin-right: auto;
            & a{
                margin-bottom: 20px;
                display: inline-block;
                padding: 5px 0;
                border: 2px solid $accent;
                font-size: 14px;
                width: 250px;

            }

        }
    }
}