@charset "UTF-8";
body {
  font-family: komet, dnp-shuei-gothic-gin-std, sans-serif;
  color: #212529;
  background: #f8f8f8;
  line-height: 1.6;
  letter-spacing: 0.07em;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #212529;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8vw;
}
@media (min-width: 769px) {
  .wrapper {
    padding: 0;
  }
}

.flex {
  display: flex;
}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  opacity: 0;
  /*はじめは透過0*/
  /*ナビの位置と形状*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #f8f8f8;
  /*動き*/
  transition: all 0.3s;
  display: none;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
  opacity: 1;
  z-index: 999;
  display: block;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  display: none;
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
  display: block;
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 10px;
  right: 8vw;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 5px;
  height: 2px;
  background-color: #212529;
  width: 80%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 7px;
  transform: translateY(6px) rotate(-30deg);
  width: 80%;
}

.openbtn.active span:nth-of-type(2) {
  top: 30px;
  left: 7px;
  transform: translateY(-6px) rotate(30deg);
  width: 80%;
}

/*========= swiperのためのCSS ===============*/
.swiper {
  width: 100%;
  height: 600px;
  z-index: -1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #212529;
}

/*========= header ===============*/
.gnav__fix__box {
  padding: 0 8vw;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  z-index: 999;
}
.gnav__fix__box h1 {
  font-size: 24px;
}

@media (min-width: 769px) {
  .openbtn-box {
    display: flex;
    align-items: center;
  }
}
.openbtn-box p {
  display: none;
}
@media (min-width: 769px) {
  .openbtn-box p {
    display: block;
    font-size: 18px;
    margin-right: 5px;
  }
}

/*========= top ===============*/
.top {
  position: relative;
  margin-top: 70px;
}
.top__Text {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  padding-left: 8vw;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #f8f8f8;
}
.top__Text p {
  margin-bottom: 10px;
}
.top__img {
  margin-left: auto;
  z-index: -1;
}
.top__img img {
  width: 100vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/*========= section ===============*/
section {
  margin-bottom: 80px;
  width: 100%;
}

/*========= about ===============*/
.about {
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.about__cap__box {
  padding: 0 8vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.about__title {
  font-size: 21px;
  font-weight: 600;
}
.about__cap__j, .about__cap__e {
  font-size: 16px;
}
.about__title, .about__cap__j, .about__cap__e {
  margin-bottom: 50px;
}
.about__btn {
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  font-size: 16px;
  display: inline-block;
  background-color: #f8f8f8;
  padding: 5px 35px;
  border-radius: 18px;
}
.about__btn:hover {
  background-color: #212529;
  color: #f8f8f8;
}

/*========= goods ===============*/
.goods__title {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 2px solid #212529;
}
.goodsItem {
  margin-bottom: 80px;
}
.goodsItem__title {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1.2;
}
.goodsItem__cap dt {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.goodsItem__cap dd {
  font-size: 14px;
  margin-bottom: 50px;
}
.goodsItem__btn {
  text-align: center;
  margin-bottom: 50px;
}
.goodsItem__btn a {
  padding-bottom: 7px;
  position: relative;
}
.goodsItem__btn a::before {
  background: #9aa4af;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.goodsItem__btn a:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}
.goodsItem__img__box {
  display: flex;
  justify-content: space-between;
}
.goodsItem__img__box img {
  width: 40vw;
  height: 100%;
}
.goodsItem__img__box .under {
  margin-top: 30px;
}

/*========= column ===============*/
.column__cotainer {
  padding: 50px 8vw;
  border: 2px solid #9aa4af;
}
.column__title {
  font-size: 36px;
  text-align: center;
  color: #9aa4af;
  margin-bottom: 30px;
}
.columnItem__box {
  margin-bottom: 50px;
}
.columnItem__box img {
  margin-bottom: 20px;
}
.columnItem__box h3 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #212529;
}
.column__btn {
  text-align: center;
}
.column__btn a {
  padding-bottom: 7px;
  position: relative;
}
.column__btn a::before {
  background: #9aa4af;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.column__btn a:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

/*========= inst ===============*/
.inst {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.inst__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.inst__btn {
  text-align: center;
}
.inst__btn a {
  padding-bottom: 7px;
  position: relative;
}
.inst__btn a::before {
  background: #9aa4af;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.inst__btn a:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

.slideshow__wrap {
  display: flex;
  align-items: center;
  height: 150px;
  overflow: hidden;
  margin-bottom: 30px;
}

.slideshow {
  display: flex;
}

.content {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.slideshow {
  display: flex;
  -webkit-animation: loop-slide 50s infinite linear 1s both;
          animation: loop-slide 50s infinite linear 1s both;
}

@-webkit-keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/*========= latestNews ===============*/
.latestNews__container {
  border-top: 2px solid #9aa4af;
  border-bottom: 2px solid #9aa4af;
  padding: 10px;
}
.latestNews__title {
  font-size: 21px;
  color: #9aa4af;
  margin-bottom: 10px;
}
.latestNews__list__link:hover {
  opacity: 0.6;
}
.latestNews__list__link dl {
  font-size: 14px;
  margin-bottom: 20px;
}
.latestNews__list__link dl dt {
  opacity: 0.6;
}
.latestNews__list__link dl dd::after {
  content: "…>>";
}
.latestNews__btn {
  text-align: right;
}
.latestNews__btn a {
  font-size: 14px;
}
.latestNews__btn a:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */