@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: komet, dnp-shuei-gothic-gin-std, sans-serif;
  color: #212529;
  background: #f8f8f8;
  line-height: 1.6;
  letter-spacing: 0.07em;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #212529;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8vw;
}
@media (min-width: 769px) {
  .wrapper {
    padding: 0;
  }
}

.flex {
  display: flex;
}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  opacity: 0;
  /*はじめは透過0*/
  /*ナビの位置と形状*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #f8f8f8;
  /*動き*/
  transition: all 0.3s;
  display: none;
  padding-top: 100px;
}

.g-nav__box {
  margin: 0 auto;
  width: 200px;
}
.g-nav__box h2 {
  color: #9aa4af;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 30px;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
  opacity: 1;
  z-index: 999;
  display: block;
}

/*ナビゲーション*/
#g-nav ul {
  display: none;
  padding-left: 20px;
  border-left: 1px solid #212529;
}

#g-nav.panelactive ul {
  display: block;
}

/*リストのレイアウト設定*/
#g-nav li:nth-child(1) {
  font-weight: 600;
  margin-bottom: 20px;
}

.pl10 {
  display: inline-block;
  padding-left: 10px;
}

#g-nav li a {
  color: #333;
  display: block;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: relative;
  z-index: 9999;
  cursor: pointer;
  width: 40px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  height: 2px;
  background-color: #212529;
  width: 100%;
}

.openbtn span:nth-of-type(1) {
  top: 18px;
}

.openbtn span:nth-of-type(2) {
  top: 30px;
}

.openbtn.active span:nth-of-type(1) {
  top: 19px;
  transform: translateY(6px) rotate(-30deg);
  width: 100%;
}

.openbtn.active span:nth-of-type(2) {
  top: 31px;
  transform: translateY(-6px) rotate(30deg);
  width: 100%;
}

/*========= header ===============*/
.gnav__fix__box {
  padding: 0 8vw;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  z-index: 999;
}
@media (min-width: 769px) {
  .gnav__fix__box {
    padding: 0;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.gnav__fix__box h1 {
  font-size: 24px;
}

@media (min-width: 769px) {
  .openbtn-box {
    display: flex;
    align-items: center;
  }
}
.openbtn-box p {
  display: none;
}
@media (min-width: 769px) {
  .openbtn-box p {
    display: block;
    font-size: 18px;
    margin-right: 10px;
    z-index: 10000;
  }
}

/*========= top ===============*/
.top {
  position: relative;
  margin-top: 70px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.top__Text {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  padding-left: 8vw;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #f8f8f8;
}
@media (min-width: 769px) {
  .top__Text {
    padding: 0;
    font-size: 32px;
    color: #212529;
    margin-top: 100px;
  }
}
.top__Text p {
  margin-bottom: 10px;
}
.top__img {
  z-index: -1;
  text-align: right;
}
.top__img img {
  width: 100vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 769px) {
  .top__img img {
    width: 600px;
    height: 600px;
  }
}

/*========= section ===============*/
section {
  margin-bottom: 80px;
  width: 100%;
}

/*========= about ===============*/
.about {
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.about__cap__box {
  padding: 0 8vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.about__title {
  font-size: 21px;
  font-weight: 600;
}
.about__cap__j, .about__cap__e {
  font-size: 16px;
}
.about__title, .about__cap__j, .about__cap__e {
  margin-bottom: 50px;
}
.about__btn {
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  font-size: 16px;
  display: inline-block;
  background-color: #f8f8f8;
  padding: 5px 35px;
  border-radius: 18px;
}
.about__btn:hover {
  background-color: #212529;
  color: #f8f8f8;
}

/*========= goods ===============*/
.goods__title {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 2px solid #212529;
}
.goodsItem {
  margin-bottom: 80px;
}
@media (min-width: 769px) {
  .goodsItem__text__box {
    width: 33%;
  }
}
@media (min-width: 769px) {
  .goodsItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.goodsItem__title {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1.2;
}
@media (min-width: 769px) {
  .goodsItem__title {
    font-size: 48px;
  }
  .goodsItem__title br {
    display: none;
  }
}
.goodsItem__cap dt {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .goodsItem__cap dt {
    font-size: 24px;
  }
}
.goodsItem__cap dd {
  font-size: 14px;
  margin-bottom: 50px;
}
@media (min-width: 769px) {
  .goodsItem__cap dd {
    font-size: 16px;
  }
}
.goodsItem__btn {
  margin-bottom: 50px;
}
.goodsItem__btn a {
  padding-bottom: 7px;
  position: relative;
}
.goodsItem__btn a::before {
  background: #9aa4af;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.goodsItem__btn a:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}
.goodsItem__img__box {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .goodsItem__img__box {
    width: 62%;
  }
}
.goodsItem__img__box img {
  width: 40vw;
  height: 100%;
}
@media (min-width: 769px) {
  .goodsItem__img__box img {
    max-width: 300px;
  }
}
.goodsItem__img__box .under {
  margin-top: 30px;
}
@media (min-width: 769px) {
  .goodsItem__img__box .under {
    margin-top: 50px;
  }
}

/*========= newItem ===============*/
.swiper {
  width: 100%;
  height: 600px;
  z-index: -1;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper-slide:nth-child(1) {
  background-image: url(../img/new-01.jpg);
}
.swiper-slide:nth-child(2) {
  background-image: url(../img/new-02.jpg);
}
.swiper-slide:nth-child(3) {
  background-image: url(../img/new-03.jpg);
}

.swiper-pagination-bullet {
  background-color: #f8f8f8;
}

.newItem {
  color: #f8f8f8;
}
.newItem__box {
  padding-top: 30px;
}
.newItem__box h3 {
  font-size: 42px;
  line-height: 1.2;
}
.newItem__box h3 time {
  font-size: 32px;
}
.newItem__btn {
  margin-top: 10px;
}
.newItem__btn a {
  color: #f8f8f8;
}

/*========= column ===============*/
.column__cotainer {
  padding: 50px 8vw;
  border: 2px solid #9aa4af;
}
@media (min-width: 769px) {
  .column__cotainer {
    padding: 50px 70px;
  }
}
.column__title {
  font-size: 36px;
  text-align: center;
  color: #9aa4af;
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .columnItem {
    display: flex;
    justify-content: space-between;
  }
}
.columnItem__box {
  margin-bottom: 50px;
}
@media (min-width: 769px) {
  .columnItem__box {
    width: 30%;
  }
}
.columnItem__box img {
  margin-bottom: 20px;
}
.columnItem__box h3 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #212529;
}
.column__btn {
  text-align: center;
}
.column__btn a {
  padding-bottom: 7px;
  position: relative;
}
.column__btn a::before {
  background: #9aa4af;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.column__btn a:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

/*========= inst ===============*/
.inst {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.inst__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.inst__btn {
  text-align: center;
}
.inst__btn a {
  padding-bottom: 7px;
  position: relative;
}
.inst__btn a::before {
  background: #9aa4af;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.inst__btn a:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

.slideshow__wrap {
  display: flex;
  align-items: center;
  height: 150px;
  overflow: hidden;
  margin-bottom: 30px;
}

.slideshow {
  display: flex;
}

.content {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.slideshow {
  display: flex;
  -webkit-animation: loop-slide 50s infinite linear 1s both;
          animation: loop-slide 50s infinite linear 1s both;
}

@-webkit-keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/*========= latestNews ===============*/
.latestNews__container {
  border-top: 2px solid #9aa4af;
  border-bottom: 2px solid #9aa4af;
  padding: 10px;
}
.latestNews__title {
  font-size: 21px;
  color: #9aa4af;
  margin-bottom: 10px;
}
.latestNews__list__link:hover {
  opacity: 0.6;
}
.latestNews__list__link dl {
  font-size: 14px;
  margin-bottom: 20px;
}
.latestNews__list__link dl dt {
  opacity: 0.6;
}
.latestNews__list__link dl dd::after {
  content: "…>>";
}
.latestNews__btn {
  text-align: right;
}
.latestNews__btn a {
  font-size: 14px;
}
.latestNews__btn a:hover {
  opacity: 0.6;
}

/*========= latestNews ===============*/
.footer {
  background-color: #9aa4af;
}
.footer__container {
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer__title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.footer__cap {
  margin-bottom: 20px;
}
.footer__cap dl {
  display: flex;
  font-size: 14px;
}
.footer__cap dl dt {
  width: 60px;
}
.footerItem {
  margin-bottom: 20px;
}
.footerItem__title {
  font-size: 18px;
}
.footerItem p {
  font-size: 14px;
}
.footer .small__box {
  text-align: center;
}
.footer .small__box small {
  font-size: 12px;
}
.footer .flex {
  justify-content: space-between;
  align-items: end;
}

.topLink {
  text-align: right;
}
.topLink a {
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  font-size: 16px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  border: 1px solid #212529;
}
.topLink a:hover {
  background-color: #212529;
  color: #9aa4af;
}
/*# sourceMappingURL=style.css.map */