@charset "utf-8";

//変数--------------------
$pc: 769px;

@mixin pc {
    @media(min-width:($pc)) {
        @content;
    }
}

$white-color:#f8f8f8;
$black-color:#212529;
$accent:#9aa4af;
//------------------------


//共通部分---------------------------
html {
    scroll-behavior: smooth;
}

body {
    font-family: komet, dnp-shuei-gothic-gin-std, sans-serif;
    color: $black-color;
    background: $white-color;
    line-height: 1.6;
    letter-spacing: 0.07em;
    font-weight: normal;

}

a {
    text-decoration: none;
    color: $black-color;
}


ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8vw;

    @include pc {
        padding: 0 50px;
    }
}

.flex {
    display: flex;
}



/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position: fixed;
    // z-index: -1;
    opacity: 0;
    /*はじめは透過0*/
    /*ナビの位置と形状*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: $white-color;
    /*動き*/
    transition: all 0.3s;
    display: none;
    padding-top: 100px;
}

.g-nav__box {
    margin: 0 auto;
    width: 230px;

    @include pc {
        display: flex;
        width: 500px;
        justify-content: space-between;
        margin-top: 70px;
    }

    & h2 {
        color: $accent;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 30px;

        @include pc {
            font-size: 42px;
            letter-spacing: .07em;
            line-height: 1.5;
        }
    }
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
    opacity: 1;
    z-index: 999;
    display: block;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;
    padding-left: 20px;
    border-left: 1px solid $black-color;

    @include pc {
        padding-left: 50px;
    }
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#g-nav li {

    font-size: 18px;
    padding-bottom: 10px;

    @include pc {
        font-size: 21px;
    }

    &:nth-child(1) {
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.pl20 {
    padding-left: 20px;
}

#g-nav li a {
    color: $black-color;
    display: block;

    &:hover {
        color: $accent;
    }
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: relative;
    z-index: 9999;
    cursor: pointer;
    width: 40px;
    height: 50px;
    // position: relative;
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    height: 2px;
    background-color: $black-color;
    width: 100%;
}

.openbtn span:nth-of-type(1) {
    top: 18px;
}

.openbtn span:nth-of-type(2) {
    top: 30px;
}

.openbtn.active span:nth-of-type(1) {
    top: 19px;
    transform: translateY(6px) rotate(-30deg);
    width: 100%;
}

.openbtn.active span:nth-of-type(2) {
    top: 31px;
    transform: translateY(-6px) rotate(30deg);
    width: 100%;
}



/*========= header ===============*/
.gnav__bgc {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: $white-color;
    width: 100%;

}

.gnav__fix__box {
    padding: 0 8vw;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white-color;

    @include pc {
        padding: 0;
        max-width: 1000px;
        // left: 50%;
        // transform: translateX(-50%);
        height: 80px;
        margin: 0 auto;
    }

    & h1 {
        font-size: 24px;

        @include pc {
            font-size: 32px;
        }
    }
}

.openbtn-box {

    @include pc {
        display: flex;
        align-items: center;
    }


    & p {
        display: none;

        @include pc {
            display: block;
            font-size: 18px;
            margin-right: 10px;
            z-index: 10000;
        }
    }
}


/*========= top ===============*/
.top {
    // margin: 100px 0 100px 0;
    position: relative;
    margin-top: 70px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    @include pc {
        margin-top: 150px;
        margin-bottom: 100px;
    }


    &__Text {
        position: absolute;
        font-size: 18px;
        margin-top: 30px;
        padding-left: 8vw;


        @include pc {
            padding: 0;
            font-size: 21px;
            margin-left: 50px;
            margin-top: 150px;
        }

        & p {
            margin-bottom: 5px;
            color: $accent;

            @include pc {
                // text-align: right;
                margin-bottom: 10px;
            }
        }
    }

    &__catch {
        font-size: 14px;
        // letter-spacing: 0;
        text-align: center;
        margin-top: 50px;
        padding: 0 8vw;

        @include pc {
            font-size: 16px;
        }

        & p {
            &::before {
                content: "";
                background-image: url(../img/top-check.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 14px;
                height: 14px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }

    }

    &__img {
        z-index: -1;
        text-align: right;

        @include pc {
            text-align: center;
        }


        & img {
            width: 80vw;
            height: 60vh;
            object-fit: cover;

            @include pc {
                width: 600px;
                height: 600px;
            }
        }


    }
}


/*========= section ===============*/

section {
    margin-bottom: 80px;
    width: 100%;
}


/*========= about ===============*/

.about {

    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;

    @include pc {
        padding: 120px 0;
    }

    &__cap__box {
        padding: 0 8vw;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        font-size: 21px;
        font-weight: 600;
    }

    &__cap__j,
    &__cap__e {
        font-size: 16px;
    }

    &__title,
    &__cap__j,
    &__cap__e {
        margin-bottom: 50px;
    }

    &__btn {
        cursor: pointer;
        transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
        font-size: 16px;
        display: inline-block;
        background-color: $white-color;
        padding: 5px 35px;
        border-radius: 18px;

        &:hover {
            background-color: $black-color;
            color: $white-color;
        }

    }

}


/*========= goods ===============*/


.goods {

    &__title {
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 50px;
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 20px;
        border: 2px solid $black-color;

        @include pc {
            font-size: 32px;
            margin-bottom: 80px;
            padding: 30px;
        }
    }

    &Item {
        margin-bottom: 80px;

        @include pc {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 100px;
        }

        &__text__box {

            @include pc {
                width: 33%;
            }
        }

        &__title {
            font-size: 36px;
            margin-bottom: 30px;
            line-height: 1.2;

            @include pc {
                font-size: 42px;
                margin-bottom: 40px;

                & br {
                    display: none;
                }
            }
        }

        &__cap {

            & dt {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;

                @include pc {
                    font-size: 21px;
                    margin-bottom: 20px;
                }
            }

            & dd {
                font-size: 14px;
                margin-bottom: 50px;

                @include pc {
                    font-size: 16px;
                }
            }
        }

        &__btn {
            margin-bottom: 50px;

            & a {
                padding-bottom: 7px;
                position: relative;

                &::before {
                    background: $accent;
                    content: '';
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    transform-origin: left top;
                    transform: scale(0, 1);
                    transition: transform .3s;
                }

                &:hover::before {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }
        }

        &__img__box {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @include pc {
                width: 60%;
            }

            & img {
                width: 40vw;
                height: 100%;

                @include pc {
                    width: 48%;
                }
            }

            & .under {
                margin-top: 30px;

                @include pc {
                    margin-top: 50px;
                }
            }
        }
    }
}

.flex__reverse {
    @include pc {
        flex-direction: row-reverse;
    }
}

/*========= newItem ===============*/

// swiper

.swiper {
    width: 100%;
    height: 600px;
    z-index: -1;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &:nth-child(1) {
        background-image: url(../img/new-01.jpg);
    }

    &:nth-child(2) {
        background-image: url(../img/new-03.jpg);
    }

    &:nth-child(3) {
        background-image: url(../img/new-02.jpg);
    }
}

// .swiper-button-next,
// .swiper-button-prev {
//     color: $black-color;
// }
.swiper-pagination-bullet {
    background-color: $white-color;
}

.newItem {
    color: $white-color;

    &__box {
        padding-top: 30px;

        & h3 {
            font-size: 42px;
            line-height: 1.2;

            @include pc {
                font-size: 60px;
            }

            & time {
                font-size: 32px;
            }
        }
    }

    &__text {
        margin-top: 10px;

        & p {
            color: $white-color;
            font-size: 18px;

            @include pc {
                font-size: 21px;
            }
        }
    }
}





/*========= column ===============*/

.column {

    &__cotainer {
        padding: 50px 8vw;
        border: 2px solid $accent;

        @include pc {
            padding: 50px 70px;
        }

    }

    &__title {
        font-size: 36px;
        text-align: center;
        color: $accent;
        margin-bottom: 30px;
    }

    &Item {

        @include pc {
            display: flex;
            justify-content: space-between;
        }

        &__box {
            margin-bottom: 50px;

            @include pc {
                width: 30%;
            }

            & img {
                margin-bottom: 20px;
            }

            & h3 {
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid $black-color;
            }
        }
    }

    &__btn {
        text-align: center;

        & a {
            padding-bottom: 7px;
            position: relative;

            &::before {
                background: $accent;
                content: '';
                width: 100%;
                height: 3px;
                // border-radius: 3px;
                position: absolute;
                left: 0;
                bottom: 0;
                margin: auto;
                transform-origin: center top;
                transform: scale(0, 1);
                transition: transform .3s;
            }

            &:hover::before {
                transform-origin: center top;
                transform: scale(1, 1);
            }
        }

    }
}

/*========= inst ===============*/
.inst {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    &__title {
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__btn {
        text-align: center;

        & a {
            padding-bottom: 7px;
            position: relative;

            &::before {
                background: $accent;
                content: '';
                width: 100%;
                height: 3px;
                // border-radius: 3px;
                position: absolute;
                left: 0;
                bottom: 0;
                margin: auto;
                transform-origin: center top;
                transform: scale(0, 1);
                transition: transform .3s;
            }

            &:hover::before {
                transform-origin: center top;
                transform: scale(1, 1);
            }
        }

    }
}

// slideshow

.slideshow__wrap {
    display: flex;
    align-items: center;
    height: 150px;
    overflow: hidden;
    margin-bottom: 30px;
}

.slideshow {
    display: flex;
}

.content {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.slideshow {
    display: flex;
    animation: loop-slide 50s infinite linear 1s both;
}

@keyframes loop-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/*========= latestNews ===============*/
.latestNews {

    &__container {
        border-top: 2px solid $accent;
        border-bottom: 2px solid $accent;
        padding: 10px;

        @include pc {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__flex {
        @include pc {
            display: flex;
            align-items: center;
        }
    }

    &__title {
        font-size: 21px;
        color: $accent;
        margin-bottom: 10px;

        @include pc {
            margin-bottom: 0;
            padding-right: 30px;
            margin-right: 30px;
            border-right: 1px solid $accent;
        }
    }

    &__list__link {
        &:hover {
            opacity: .6;
        }

        & dl {
            font-size: 14px;
            margin-bottom: 20px;

            @include pc {
                display: flex;
                margin-bottom: 0;
            }

            & dt {
                opacity: .6;

                @include pc {
                    margin-right: 20px;
                }
            }

            & dd::after {
                content: "…>>";
            }

        }
    }

    &__btn {
        text-align: right;

        & a {
            font-size: 14px;

            &:hover {
                opacity: .6;
            }
        }
    }

}


/*========= footer ===============*/
.footer {
    background-color: $accent;

    &__container {
        padding-top: 50px;
        padding-bottom: 20px;

        @include pc {
            & .pc__flex {
                display: flex;
            }
        }
    }

    &__title {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 20px;

        @include pc {
            font-size: 42px;
        }

        & br {
            display: none;

            @include pc {
                display: block;
            }
        }
    }

    &__cap {
        margin-bottom: 20px;

        @include pc {
            margin-right: 80px;
        }

        & dl {
            display: flex;
            font-size: 14px;

            @include pc {
                font-size: 16px;
            }

            & dt {
                width: 60px;
            }
        }
    }

    &Item {
        margin-bottom: 20px;

        &__title {
            font-size: 18px;

            @include pc {
                font-size: 24px;
            }
        }

        & p {
            font-size: 14px;

            @include pc {
                font-size: 16px;
            }
        }
    }

    & .small__box {
        text-align: center;

        & small {
            font-size: 12px;
        }
    }

    & .flex {
        justify-content: space-between;
        align-items: end;
    }
}

.topLink {

    text-align: right;

    & a {
        cursor: pointer;
        transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
        font-size: 16px;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        border: 1px solid $black-color;

        &:hover {
            background-color: $black-color;
            color: $accent
        }
    }
}